{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <!--<meta charset="utf-8">-->
        <title>Bad Answer</title>
        <!--<meta name="description" content="">-->
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
            {% block content %}
                <h1 class="title">Sorry but this was not a king s email</h1>
            {% endblock %}
        <!--<script type="text/javascript" src="{% static 'main.js' %}"></script>-->
    </body>
</html>